*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
input:focus-visible{
    outline: 0;
}

.main{
    background-color: #3498db;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    min-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #2980b9;
    border-radius: 2px;
    margin-top: 10px;
}
#pss-box{
    width: 100%;
    display: block;
   background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.row{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
input[type="number"]{
    margin-left: 200px;
}
input[type="checkbox"]{
    margin-left: 215px;
}
input#number {
    margin-left: 230px;
}
input#symbols {
    margin-left: 235px;
}

label{
    user-select: none;
}

#btn{
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
}

